			li{
			font-size:20px;
			list-style: none;
			display: inline-block;
			text-decoration:underline;
			padding-left: 30 px;
			margin-right: 20px; 			
			}
			#pages,#log{
				display: inline-block;
			}
			#log{
				padding-left:700px;
			}
			#p1{
				font-size: 50px;
				
			}
			
			#20 {
				background-color: #8899ff;
				width : 120px;
				height: 200px;
				display: inline-block;
				margin-left: 200px; 
				border: 4px ;		
				border-color: "red";
			}
			#pic1,#pic2,#pic3{
				width: 800px;
				height: 500px;
				border: 8px;
				border-radius: 50px ;
				text-align: center ;
				margin-left:288px;
				margin-top:10px;
			}
			
			#search{
				text-align: center ;
			}
			input[type="text"]
			{
				border-color: lightblue ;
				width: 750px;
				padding: 10px;
			}
			
			#div1 {
			
			float:left;
			Display:inline-block;
		}
		#div2{
			width:50%;
			padding-left:20px;
			clear:both;
			display:inline-block;
			position:relative;
			margin-bottom:50px;
			
		}
		
		
		#contact{
			  width: 60%;
			  height: 680px;
			  border-color: blue ;
			  border: 20px;
			  margin-left: 250px;
			  border-style: groove;
			  
			}
			
		input[type="text"]
			{
				border-color: lightblue ;
				width: 750px;
				padding: 10px;
			}
			
		input[type="email"]
			{
				border-color: lightblue ;
				width: 750px;
				padding: 10px;
			}
			textarea{
				border-color: lightblue ;
				width: 750px;
				height: 150px;
			}
			
			
			#left
			{
				float:left;
				margin-left:35%;
			}
			#right
			{
				float:right;
				margin-right:40%;
			}
			#left,#right{
				display:inline-block;
			}
			
			
			 #social {
            border: 5px solid blue;
            width: 600px;
            margin:10px auto ;
            background-color:white;
            height:400px; 
        }
     
        #pass  {
            text-align: center;
        }
		
        input[type="text"],input[type="password"]{
            padding:10px;
            margin:8px;
            width:400px;

        }
        #keep,#forget{
            display:inline-block;
            margin-right:40px;
            margin-left:60px;
            margin-top:20px;
        }
        
        a:link{
            color:lightblue;
        }
       .btn{
		width:150px;
		height:40px;
		border-radius:7px;
		background-color:#ffcc77;
		
		
		}
		.btn:active{
		background-color:blue;
		}
		.btn:hover{
		background-color:#ed8353;
		color:white;
		
		}
		
		
		#pages{
		background-color:#ffcc77;
		width:100%;
		
		
		}
		
		.mbar{
		color:white;
		height:100px;
		margin-top:-50px;
		    
		}
		
		.mbar:hover
		{
			background-color:maroon;
		
		}
		
		.img
		{
			width:30px;
			height:30px;
			
			
		}
			
		#fb,#tw
		{
            display:inline-block;
			height:40px;
			text-align:center;
			font-size:15px;
			margin-left:50px;
			margin-top: 30px;
			padding-left:30px;
			color:white;
		 	
        }
		
		#fb{
			
			width:200px;
			background-color: #0000b3;
		}
		
		#tw{
			
			width:200px;
			background-color: #76a0ef;
		}
		.ahmed{
			
			width:25px;
			height:25px;
			border-radius: 50% 50% ;
			padding: 5px;
			
		}
		
		#c{
				text-align: center;
				background-color:#76a0ef;
				
				font-size:20px;


			}
		
		